<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    
  <appSettings>
	 <!-- Server registry definitions -->
     <add key="ClsidServer" value="{5e47d25a-0fb1-4d82-88c0-45b74879d199}"/>
     <add key="ClsidApp" value="{1110a392-c1c8-4e31-a97d-4a14e46f2157}"/>
     <add key="ServerProgID" value="BINQ.OPCS"/>
     <add key="CurrServerProgID" value="BINQ.OPCS.1"/>
     <add key="ServerName" value="OPC DA Server"/>
     <add key="CurrServerName" value="OPC DA Server V1"/>
     <add key="CompanyName" value="BINQ"/>

	 <!-- Server operation definitions -->
     <add key="UpdatePeriod" value="100"/>
     <add key="BrowseMode" value="REAL"/>  <!-- REAL or VIRTUAL -->
     <add key="ValidateMode" value="NEVER"/>  <!-- NEVER, UNKNOWNITEMS or ALWAYS -->
     <add key="BranchDelemitter" value="."/>
     <add key="ClientUpdateMode" value="ManyChanges"/>   <!-- ManyChanges or ManyItems -->
     <add key="WriteCacheUpdateMode" value="Generic"/>   <!-- Generic or Custom -->

  </appSettings>

</configuration>
